@use "../abstracts";

.change-password {
    padding: 32px;
    border-radius: 12px;

    &__heading {
        margin-bottom: 60px;
        text-align: left;
    }


    &__row {
        display: flex;
        align-items: center;

        @include abstracts.screen(md) {
            flex-direction: column;
        }
    }

    &__user-info {
        margin-left: 16px;
    }

    &__user-name {
        color: #333;
        font-weight: bold;
        font-size: 2rem;


        @include abstracts.screen(md) {
            margin-top: 8px;
            text-align: center;
        }
    }

    &__user-username {
        margin-top: 4px;
        color: #333;
        font-size: 1.6rem;

        @include abstracts.screen(md) {
            text-align: center;
        }
    }

    &  .form-group__input-wrapper {
        max-width: 500px ;
        width: 100%;
    }
}
