@use "../abstracts";
.profile {
    margin-top: 90px;
    padding: 32px;
    border-radius: 12px;
    border: 1px solid #ccc;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__heading {
        font-size: 3.2rem;
        color: #333;
        text-decoration-line: underline;
        text-decoration-color: var(--primary-color);

        @include abstracts.screen(md) {
            font-size: 2.2rem;
        }
    }

    &__back-link {
        font-size: 1.6rem;
        color: #333;
        text-decoration-line: underline;
        text-decoration-color: #333;
        transition: color linear 0.2s;

        &:hover {
            color: var(--primary-color);
        }

        @include abstracts.screen(md) {
            font-size: 1.4rem;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 40px;

        &-name {
            color: #333;
            font-size: 2rem;
            font-weight: bold;

            
            @include abstracts.screen(md) {
                font-size: 1.6rem;
            }
        }

        &-username {
            color: #333;
            font-size: 1.4rem;
        }
    }

    .form-group {
        max-width: 660px;
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-top: 24px;

        @include abstracts.screen(md) {
            flex-direction: column;
            align-items: start;
        }


        &-change-password {
            display: inline-flex;
            align-items: center;
        }
    }
}