.login {
    &__heading {
        text-align: left;
        font-size: 3.6rem;
        font-weight: bold;
        margin-bottom: 60px;
    }

    &__img {
        display: block;
        margin-left: auto;
        max-width: 100%;
    }
}