@use "../abstracts";

.task {
    height: calc(100vh - 108px);
    padding: 20px 0 60px;
    
    &__container {
        padding-top: 80px;
    }

    &__sidebar {
        position: relative;
        padding: 40px 28px;
        border-radius: 6px;
        background-color: var(--primary-color);
    }

    &__user-img {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__user-fullname {
        text-align: center;
        color: #fff;
        font-weight: bold;
    }

    &__user-username {
        margin-top: 4px;
        text-align: center;
        color: #fff;
        font-size: 14px;
    }

    &__dashboard {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 32px;
        padding: 16px;
        border-radius: 12px;
        color: var(--primary-color);
        background-color: #fff;
    }

    &__nav {
        margin-top: 16px;

        &-list {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        &-link {
            display: flex;
            align-items: center;
            gap: 16px;
            padding: 8px 16px;
            color: #fff;
            border: 1px solid transparent;
            border-radius: 12px;

            &:hover {
                border: 1px solid #fff;
            }
        }
    }

    &__content {
        padding-left: 64px;
    }

    &__intro {
        display: flex;
        align-items: center;
        justify-content: space-between;


        &-left {
            display: flex;
            align-items: center;
            gap: 24px;
        }

        &-heading {
            font-size: 36px;
            font-weight: bold;
        }
    }


    &__overview {
        margin-top: 32px;
        padding: 24px;
        border: 1px solid #e8e8e8;

        &-left {
            padding: 12px;
            border-radius: 6px;
            border: 1px solid #ccc;
        }

        &-today {
            margin-top: 12px;
            font-size: 14px;
            color: #A1A3AB;
        }
    }


    &__card {
        display: flex;
        gap: 12px;
        margin-top: 16px;
        padding: 16px;
        border-radius: 12px;
        // border: 1px solid #A1A3AB;
        box-shadow: 0px 0px 2px rgba($color: #000000, $alpha: 0.5);


        &-circle-status {
            width: 16px;
            height: 10px;
            border-radius: 50%;
            border: 2px solid #F21E1E;
        }

        &-title {
            font-weight: bold;
        }

        &-text {
            font-size: 10px;
        }

        &-desc {
            font-size: 14px;
            color: #747474;
        }

        

        &-row {
            display: flex;
        }
    }

    &__add-btn {
        color: #A1A3AB;
    }


    &__row {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}