<div class="container">
    <div class="navbar">
        <div class="navbar_left">
            <a href="#" class="logo">
                <!-- <img src="" alt=""> -->
                <p class="logo-text">
                    <span class="logo-text-primary">Dash</span>
                    <span class="logo-text-black">board</span>
                </p>
            </a>
        </div>
        
        <div class="navbar__center d-md-none">
            <input type="text" class="navbar__input" id="searchInput" placeholder="Search your task here...">
            <span class="navbar__btn">
                <img src="../assets/icon/Search.png" class="navbar__input-icon" alt="">
            </span>
        </div>
        <div class="navbar__right">
            <button class="navbar__btn d-md-none" >
                <img src="../assets/icon/bell.png" alt="">
            </button>
            <button class="navbar__btn d-md-none" style="margin-left: 8px;">
                <img src="../assets/icon/calendar.png" alt="">
            </button>
            <div class="navbar__user">
                <img src="../assets/img/user.png" alt="avatar" class="navbar__user-avatar">
                <!-- dropdown menu -->
                <div class="dropdown-menu">
                    <div class="dropdown-menu__content">
                        <div class="dropdown-menu__header">
                            <img src="../assets/img/user.png" alt="avatara" class="dropdown-menu__avatar">
                            <div class="dropdown-menu__user">
                                <p class="dropdown-menu__user-name">Sundar Gurung</p>
                                <p class="dropdown-menu__user-username">@Gurung</p>
                            </div>
                        </div>
                        <ul class="dropdown-menu__list">
                            <li class="dropdown-menu__item">
                                <a href="../profile.html" class="dropdown-menu__link">Profile</a>
                            </li>
                            <li class="dropdown-menu__item">
                                <a href="#" class="dropdown-menu__link">Profile</a>
                            </li>
                            <li class="dropdown-menu__item">
                                <a href="#" class="dropdown-menu__link">My Tasks</a>
                            </li>
                            <li class="dropdown-menu__item">
                                <a href="#" class="dropdown-menu__link">Help</a>
                            </li>
                            <li class="dropdown-menu__item">
                                <a href="#" class="dropdown-menu__link">Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            

            <div class="navbar__group-btn">
                <a href="../signin.html" class="btn ">Sign in</a>
                <a href="../signup.html" class="btn" style="background-color: #3ABEFF;">Sign up</a>
            </div>
        </div>
    </div>
    
</div>